.cart-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.cart-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.cart-items-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-item-card {
  display: flex;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  align-items: center;
  position: relative;
}

.cart-item-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-info {
  flex: 1;
}

.cart-price {
  font-weight: 600;
  margin: 0.3rem 0;
}

.qty-controller {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
  
}

.qty-controller button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
  color: #000;
}

.subtotal {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  color: #444;
}

.remove-item {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.order-summary {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: fit-content;
}

.order-summary h2 {
  margin-bottom: 1rem;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.summary-row.total {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.checkout-btn {
  background: black;
  color: white;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.checkout-btn:hover {
  background: #222;
}

.empty-cart {
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.bin{
  color: black;
}

.changeQty{
  background-color: aliceblue;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  padding: 7px;
}