body {
  background-color: #cce0f5;
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 2rem; */
}

.orders-container {
  max-width: 800px;
  margin: 0 auto;
}

.orders-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #222;
}

.order-card {
  background: burlywood;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

strong{
  color: rgb(60, 60, 60);
  font-size: 18px;
}

.order-header, .order-total, .order-shipping {
  margin-bottom: 0.5rem;
}

.order-items {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.order-item-info {
  display: flex;
  align-items: center;
}

.order-item-info img {
  width: 140px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}

.order-item-name {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.quantity-controls span {
  font-weight: bold;
  color: #2e7d32; 
}

.order-item-price {
  font-weight: bold;
  font-size: 18px;
  color: red;
}
