/* .main-div{
    background-color: beige;
}

h1{
    text-align: center;
}
form{
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.enter-btn{
    margin-left: 400px
}

.back-btn{
     margin-left: 400px;
} */